<div class="ant-row" style="margin-left: -12px; margin-right: -12px;">
  <div [ngStyle]="paddingStyle">
    <div class="numberCard">
      <i class="anticon anticon-database iconWarp" [ngStyle]="iconColor1"></i>
      <div class="content">
        <p class="title">服务器</p>
        <p class="number">
          <span>6</span>
        </p>
      </div>
    </div>
  </div>
  <div [ngStyle]="paddingStyle">
    <div class="numberCard">
      <i class="anticon anticon-appstore iconWarp" [ngStyle]="iconColor2"></i>
      <div class="content">
        <p class="title">应用数量</p>
        <p class="number">
          <span>41</span>
        </p>
      </div>
    </div>
  </div>
  <div [ngStyle]="paddingStyle">
    <div class="numberCard">
      <i class="anticon anticon-team iconWarp" [ngStyle]="iconColor3"></i>
      <div class="content">
        <p class="title">进行中项目</p>
        <p class="number">
          <span>3</span>
        </p>
      </div>
    </div>
  </div>
  <div [ngStyle]="paddingStyle">
    <div class="numberCard">
      <i class="anticon anticon-smile iconWarp" [ngStyle]="iconColor4"></i>
      <div class="content">
        <p class="title">当前告警</p>
        <p class="number">
          <span>0</span>
        </p>
      </div>
    </div>
  </div>
  <!--echarts-->
  <!--<div class="ant-col-md-24 ant-col-lg-18" style="padding-left: 12px; padding-right: 12px;">-->
    <!--<div class="ant-card ant-card-padding-transition">-->
      <!--<div class="ant-card-body" style="padding: 24px 36px 24px 0px;">-->
        <!--&lt;!&ndash;<echart [chartType]="antChart"></echart>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>

<!--todo:完善数据报表-->
<!-- <div> -->
<!--   <div style="display: block"> -->
<!--     <canvas baseChart -->
<!--             [datasets]="barChartData" -->
<!--             [labels]="barChartLabels" -->
<!--             [options]="barChartOptions" -->
<!--             [legend]="barChartLegend" -->
<!--             [chartType]="barChartType" -->
<!--             (chartHover)="chartHovered($event)" -->
<!--             (chartClick)="chartClicked($event)"></canvas> -->
<!--   </div> -->
<!--   <button (click)="randomize()" class="update_btn">更 新</button> -->
<!-- </div> -->
